@page
@model TheCharacterFactory.Pages.Power.PowerListPageModel
@{
}


<h4 style="color:red"> List of Power </h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Unlocked
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PowerList != null)
        {
            @foreach (var item in Model.PowerList)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Type
                    </td>    
                    <td>
                        @item.BlockedEvne
                    </td>
                </tr>
            }
        }
    </tbody>
</table>