@page
@model TheCharacterFactory.Pages.Character.CharacterListPageModel
@{
}


<br />
<p>
    <a class="btn btn-primary" data-toggle="tooltip" title="Add Student" asp-page="/Character/CreateCharacter"><i class="fa fa-plus-square mr-1"></i> Create a new Character </a>
</p>
<br />


<h4 style="color:red"> List of Character </h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Character name
            </th>
            <th>
                Denomination
            </th>
            <th>
                Race
            </th>
            <th>
                Note
            </th>
            <th>
                Full Name
            </th>
            <th>
                TLF
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Character != null)
        {
            @foreach (var item in Model.Character)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.CharacterName
                    </td>
                    <td>
                        @item.Denomination
                    </td>
                    <td>
                        @item.Race
                    </td>
                    <td>
                        @item.Note
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.TLF
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
