@page
@model TheCharacterFactory.Pages.Character.CharacterPageModel
@{
}


<h4 style="color:red"> Character: @Model.Character.CharacterName </h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Character name
            </th>
            <th>
                Denomination
            </th>
            <th>
                Race
            </th>
            <th>
                Note
            </th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.Character != null)
        {
            <tr>
                <td>
                    @Model.Character.ID
                </td>
                <td>
                    @Model.Character.CharacterName
                </td>
                <td>
                    @Model.Character.Denomination
                </td>
                <td>
                    @Model.Character.Race
                </td>
                <td>
                    @Model.Character.Note
                </td>
             </tr>
        }
    </tbody>
</table>

<br />
<p>
    <a class="btn btn-primary" data-toggle="tooltip" title="Tilbage Til Min Konto" asp-page="/User/UserCharacters"><i class="fa fa-plus-square mr-1"></i> Tilbage </a>
</p>
<br />