@page
@model TheCharacterFactory.Pages.TestPageModel
@{
}



<h1> Test site, this is where every test is going to be </h1>

<ul>
    @foreach(var character in Model._characters)
    {
        <div class="card mb-2" style="width 30rem;">
            <div class="card-header p-2">
                <h5 class="card-title">@character.ID. @character.CharacterName</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@character.Denomination</p>
                <p class="card-text">@character.Note</p>
                <p class="card-text">@character.FullName</p>
                <p class="card-text">@character.TLF</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    }

</ul>